<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<form action="/events">
  <input name="event" placeholder="Search for events" required>
  <button type="submit">Show me da events</button>
  <a href="/events/all">All Events</a>
  <a href="/events/lucky">Im feeling dumb dumb</a>
</form>