<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<form action="/events">
  <input name="event" placeholder="Search for events">
  <button type="submit">Show me da events</button>
  <a href="/events/lucky">All Events</a>
</form>