{{#if event}}
{{#with event}}
{{this.description}}

{{/with}}
{{else}}
<p>Oh oh. This event does not exist. 😅. Oopsie. Perhaps you can create it yourself. Have fun, and click <a
    href="/events/new">here</a></p>
{{/if}}